body{
    width: 100%;
    background-image: url("../images/leather_1.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
main{
    margin: 30px auto;
    margin-bottom: 100px;
    display: block;
    width: 960px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    border: 2px solid #dddddd;
     
}
img{
    height: 200px;
    width: 135px;
    float: left;
}
nav{
    width: 100%;
    height: 75px;
    background-color: white;
    border-bottom: 5px solid #cccccc;
    position: static;
}
footer{
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-bottom: 5px;
    background-color: #666666;
    position: relative;
    border-top: 8px solid #4aaaa5;
}
li{
    display: inline;
}
a{
    text-decoration: none;
    color: inherit;
}
#logo{
    width: 250px;
    margin: 0;
    text-align: center;
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding-top: 7px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#menu{
    padding-top: 10px;
    float: right;
    color: grey
}
#header-section{
    margin: 10px auto;
    height: 100%;
    width: 960px;
}
#content-header{
    color: #4aaaa5;
    padding-top: 10px;
    padding-left: 20px; 
    padding-right: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#content{
    padding-top: 10px;
    padding-left: 20px; 
    padding-right: 20px;
}
.borderLR{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}
.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}
.paddingCust{
    padding-left: 10px;
    padding-right: 10px;
}
.p-cust{
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 2;
    padding-left: 150px;
    color: #777777;
}
.p-cust2{
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 2;
    padding-bottom: 10px;
    color: #777777;
}
.p-cust3{
    margin-bottom: 0;
    padding-top: 20px;
    color: white;
}
.contentBoxCust{
    padding-right: 20px;
    padding-left: 20px;
}
.inputCust{
    width: -webkit-fill-available;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.inputCust2{
    width: -webkit-fill-available;
    height: 200px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
.inputTitleCust{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #777777;
}
.submitBtn{
    padding: 10px 35px;
    background-color: #4aaaa5;
    color: white;
    font-size: medium;
    border-radius: 5px;
}
.row{
    display: inline-block;
    width: 100%;
}
.midRowCust{
    margin-top: 25px;
    margin-bottom: 25px;
}
.img1{
    margin-right: 20px;
    height: 200px;
    width: 250px;
}
.img2{
    margin-left: 10px;
    height: 200px;
    width: 250px;
}
.banner{
    position: relative;
    display: inline-block;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.banner-text1{
        position: absolute;
        bottom: 5px;
        width: 210px;
        background-color: #4aaaa5;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
}
.banner-text2{
    position: absolute;
    bottom: 5px;
    width: 210px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-left: 10px;
}
@media only screen and (max-width: 980px) {
    #header-section{
        margin-top: 10px;
        margin-left: 5%;
        width: 910px;
    }
    main{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 5%;
        width: 680px;
    }
    body{
        width: 960px;
    }
    nav{
        width: 960px;
    }
    footer{
        width: 960px;
    }
  }
@media only screen and (max-width: 768px) {
    #header-section{
        margin-top: 10px;
        margin-left: 5%;
        width: 660px;
    }
    main{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 5%;
        width: 640px;
    }
    body{
        width: 748px;
    }
    nav{
        width: 748px;
    }
    footer{
        width: 748px;
    }
  }
@media only screen and (max-width: 640px) {
    #header-section{
        margin: 0;
        width: 660px;
    }
    main{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 5%;
        width: 570px;
    }
    body{
        width: 620px;
    }
    nav{
        width: 640px;
        height: auto;
    }
    footer{
        width: 620px;
    }
    img{
        float: none;
        height: 300px;
        width: 210px;
    }
    form{
        text-align: left;
    }
    #logo{
        float: none;
        width: 100%;
        padding: 3px;
    }
    #menu{
        float: none;
        width:  100%;
        text-align: center;
        padding-left: 0;
    }
    #content{
        text-align: center;
    }
    .p-cust{
        padding-left: 0;
        text-align: left;
    }
    .p-cust2{
        text-align: left;
    }
    .banner{
        padding: 10px;
    }
    .phoneAlignFix{
        padding-right: 40px;
    }
  }